@model RBAProject.Models.Address

@{ ViewData["Title"] = "Delete"; }

<h1>Sil</h1>

<h3>Silme işlemini yapmak istediğinize emin misiniz?</h3>
<div>
    <h4>Adres</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Şehir :
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class="col-sm-2">
            İlçe :
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.District)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        <a asp-action="Index">Listeye Geri Dön</a>
    </form>
</div>
