@model RBAProject.Models.Admin

@{ ViewData["Title"] = "Delete"; }


<h1 style="text-align:center">Sil</h1>

<h3>Silme işlemini yapmak istediğinize emin misiniz?</h3>

<div class="col-md-12">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive" style="overflow:hidden;">
                <table class="table">
                    <tr>
                        <th> Ad</th>
                        <th>Soyad</th>
                        <th>EMail </th>
                    </tr>
                    <tr>
                        <td>@Html.DisplayFor(model => model.Name) </td>
                        <td>@Html.DisplayFor(model => model.Surname) </td>
                        <td>@Html.DisplayFor(model => model.Email) </td>
                        <td>@Html.DisplayFor(model => model.Password) </td>
                    </tr>

                </table>
                <form style="text-align:right" asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Sil" class="btn btn-danger" />
                    <a asp-action="Index" class="btn btn-danger"> Listeye Geri Dön</a>
                </form>

            </div>
        </div>
    </div>
</div>